/* Navigation */
.main-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background-color: #f5f6fa;
}

.logo{
  width: 200px;
  height: 150px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.nav-links li{
  list-style: none;
}

.nav-links a{
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  color: #2d3436;
}
.burger{
  display:none;
}
.burger div{
  width: 25px;
  height: 3px;
  margin: 4px;
  background-color: #2d3436;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px){
  .nav-links{
    width: 60%;
  }

}

@media screen and (max-width: 768px){
  html,body{
    position: relative;
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 200px;
    background-color: #f5f6fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
}

.nav-active{
  transform: translateX(0%);
  z-index: 2;
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);

  }

  to{
    opacity: 1;
    transform: translateX(0px);


  }

}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}
.link::after{
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #2d3436;
  transition: width .3s;
}
.link:hover::after{
  width: 100%;
}

/* First picture */

.background-overlay{
    background-image: url('../images/banner_vopsea.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    opacity: 0.8;
    border-bottom: 10px solid #2d3436;
}
.container{
  position: absolute;
  top: 75vh;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 30px;
  font-weight: bold;
  z-index: 1;
  transition: background-color 0.5s;
}
.container h3{
  font-size: 30px;
  color: #f5f6fa;
  padding-bottom: 20px;

}
.container p{
  font-size: 16px;
  color: #f5f6fa;
}
.container:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

/* Slider articole  */
.slider-articole{
  width: 100vw;
  height: 100vh;
}
.articol{
  position: absolute;
  margin-top: 6vh;
  display: grid;
  grid-template-column: 60% 40%;
  border: 2px solid #2d3436;
  border-radius: 15px;
  padding: 10px;
}
.articol img{
  grid-column-start: 1;
  grid-column-end: 2;
  width: 90%;
}
.articol section{
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-rows: 40% 60%;
}
.articol section>h2{
  grid-row-start: 1;
  grid-row-end: 2;
  color: #2ecc71;
  text-align: center;
}
.articol section>p{
  grid-row-start: 2;
  grid-row-end: 3;
  color: #2d3436;
}

/* Footer  */

footer{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  left: 0;
  bottom: 0;
}

span{
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  text-align: center;
}

footer .contact{
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
