<footer>
  <ul class="Contact">
    <li> <i class="fas fa-phone-alt"></i> <a href="tel:+40348430947">0348 430 947</a>  </li>
    <li> <i class="far fa-envelope"></i> <a href= "mailto:contact@neoplandesign.ro">contact@neoplandesign.ro</a> </li>
    <li> <i class="fas fa-map-marked-alt"></i> Pitesti, Str. Maior Sontu, Bl. D6, parter </li>
  </ul>
  <div class="Categorii">
    <h4>Categorii produse</h4>
    <ul>
      <li> <a href="#">Scule electrice si manuale</a> </li>
      <li> <a href="#">Aparataj electronic</a> </li>
      <li> <a href="#">Produse amenajari interioare</a> </li>
      <li> <a href="#">Materiale finisaje interioare</a> </li>
      <li> <a href="#">Amenajari exterioare</a> </li>
      <li> <a href="#">Sisteme de ventilare</a> </li>
    </ul>
  </div>
  <div class="Servicii">
    <h4>Servicii disponibile in magaznele noastre</h4>
    <ul>
      <li> Consultanta gratuita </li>
      <li> Trasnport materiale </li>
      <li> Solutii de credidate </li>
    </ul>
  </div>
  <div class="Suport">
    <h4>Suport clienti</h4>
    <ul>
      <li> <a href="#">Termeni si conditii</a> </li>
      <li> <a href="#">Politica de confidentialitate</a> </li>
      <li> <a href="#">Politica cookies</a> </li>
      <li> <a href="https://anpc.ro/">A.N.P.C</a> </li>
    </ul>
  </div>
  <ul class="Social-media">
    <li> <a href="https://www.facebook.com/"> <i class="fab fa-facebook"></i> </a> </li>
    <li> <a href="https://www.instagram.com/"> <i class="fab fa-instagram"></i> </a> </li>
    <li> <a href="https://twitter.com/explore"> <i class="fab fa-twitter"></i> </a> </li>
  </ul>
<p>Copyright <i class="far fa-copyright"></i> 2019-2020. NEOPLAN CONSULT DESIGN</p>
</footer>
