<header>
  <nav class="main-nav">
    <a href="./"> <img src="./images/logo-neoplan.svg" alt="Logo" class="logo"> </a>
    <ul class="nav-links">
      <li><a href="./about" class="link">Despre noi</a></li>
      <li id="nav-produse">
          <a href="./products" class="link">Produse</a>
          <!--<a href="./products.html" class="link" id="#nav-produse">Produse</a>-->
          <ul class="submeniu">
            <li> <a href="./products" class="link">Scule electrice si manuale</a> </li>
            <li> <a href="./products" class="link">Aparataj electronic</a> </li>
            <li> <a href="./products" class="link">Produse amenajari interioare</a> </li>
            <li> <a href="./products" class="link">Materiale finisaje interioare</a> </li>
            <li> <a href="./products" class="link">Amenajari exterioare</a> </li>
            <li> <a href="./products" class="link">Sisteme de ventilare</a> </li>
          </ul>
      </li>
      <li><a href="./contact" class="link">Contact</a></li>
      <li><a href="./login" class="link">Contul meu</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</header>
