<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Magazin materiale amenajari interioare">
    <meta name="keywords" content="Materiale, constructie, vopsea, adezivi, siliconi, parchet, spuma poliuretanica, dezumidificatoare, Pitesti, lambriu, benzi, pensule, pensula">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.png">
    <link rel="stylesheet" href="./css/about-styles.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="./css/all.min.css">
    <link rel="stylesheet" href="./css/fontawesome.min.css">
    <title>Despre noi - Neoplan Consult Design</title>
  </head>
  <body>
    <%-  include('../fragmente/header')  %>
    <main>
      <section class="story">
        <h2>Cum a inceput povestea noastra</h2>
        <p>Cu o vechime de peste 20 ani in peisajul economic pitestean, firma Neoplan Consult Design isi rasfata permanent clientii cu oferte bogate si variate in domeniul amenajarilor interioare si exterioare, aducand produse de inalta calitate, care respecta STAS-urile si prevederile legale in vigoare in privinta calitatii si impactului asupra mediului inconjurator.</p>
        <p>Angajatii nostri sunt specialisti in domeniu, capabili sa va ofere cu respect si responsabilitate informatiile si solutiile de care aveti nevoie si care sunt cele mai potrivite pentru dumneavoastra si proiectele dumneavoastra.</p>
        <p>Nu in ultimul rand, furnizorii nostri ne recomanda si ne sustin in demersurile noastre in privinta calitatii, oferind certificate de calitate si garantie, dar si instruiri permanente.</p>
      </section>
          <h2>Ce spun oamenii</h2>
          <div class="review">
            <section class="prima coloana">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p><i>Cristina</i></p>
            </section>
            <section class="a doua coloana">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p><i>David</i></p>
            </section>
        </div>
        <div class="wrapper-de-wrapper">
          <h2>Total comenzi efectuate</h2>
          <div class="wrapper">
            <span class="fourth number"></span>
            <span class="trird number"></span>
            <span class="second number"></span>
            <span class="first number"></span>
          </div>
        </div>
      <button type="button" id="back-to-the-top" onclick=""><i class="fas fa-angle-double-up"></i></button>
    </main>
    <%-  include('../fragmente/footer')  %>
    <script src="./js/index-path.js"></script>
  </body>
</html>
