<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/login-styles.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <title>Neoplan Consult Design - Autentificare Client</title>
  </head>
  <body>
      <form class="login-form" action="/login" method="post">
        <h1>Logare Client</h1>
        <div class="txtb">
          <input type="email" name="email" required>
          <span data-placeholder="Adresa de email"></span>
        </div>

        <div class="txtb">
          <input type="password" name="password" required>
          <span data-placeholder="Parola"></span>
        </div>

        <input type="submit" name="submit" value="Autentificare" class="bttn">
        <button type="button" class="bttn" onclick="location.href='./register'">Client nou</button>
          <!--L-am facut button deoarece pentru inregistrare am cerut ca si utilizatorul si parola sa fie strict necesare pentru logare.-->
        <div class="bottom-text">
          <a href="#">Ai uitat parola?</a>
        </div>
      </form>
  </body>
</html>
