<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/myaccount-styles.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/fontawesome.min.css">
    <link rel="stylesheet" href="./css/all.min.css">
    <title>Neoplan Consult Design - Contul meu</title>
  </head>
  <body>
    <script src="./js/myaccount.js"></script>
    <%- include('../fragmente/header') %>
    <main>
      <h2>Welcome back, sailor!</h2>
      <p>This is just a test and we are sorry for our own incompetence that we could not finish this page earlier</p>
      <p>Also sorry for bad anglish, we paid an idian guy on fiver for it</p>
    </main>
    <%- include('../fragmente/footer') %>
  </body>
</html>
