<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Magazin materiale amenajari interioare">
    <meta name="keywords" content="Materiale, constructie, vopsea, adezivi, siliconi, parchet, spuma poliuretanica, dezumidificatoare, Pitesti, lambriu, benzi, pensule, pensula">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.png">
    <link rel="stylesheet" href="./css/products-styles.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/all.min.css">
    <link rel="stylesheet" href="./css/fontawesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <title>Neoplan Consult Design - Produse</title>
  </head>
  <body>
    <%-  include('../fragmente/header')  %>
    <main>
        <h2>Produse</h2>
        <ul class="wrapper">
          <li><a href="#">
                <figure>
                  <img src="./images/gallery/kober-grund-lemn.jpg" alt="">
                  <figcaption>
                    <div class="star-rating"></div>
                    <p>Kober Grund pentru lemn</p>
                    <p>Price</p>
                    <div class="add-basket">
                      <button type="button" name="" class="add-basket-bttn">Adauga in cos</button>
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                  </figcaption>
                </figure>
            </a></li>
            <li><a href="#">
                  <figure>
                    <img src="./images/gallery/kober-impregnant-lemn.jpg" alt="">
                    <figcaption>
                      <div class="star-rating"></div>
                      <p>Kober impregnant pentru lemn</p>
                      <p>Price</p>
                      <div class="add-basket">
                        <button type="button" name="" class="add-basket-bttn">Adauga in cos</button>
                        <i class="fas fa-shopping-cart"></i>
                      </div>
                    </figcaption>
                  </figure>
              </a></li>
              <li><a href="#">
                    <figure>
                      <img src="./images/gallery/kober-baza-de-nuantare.jpg" alt="">
                      <figcaption>
                        <div class="star-rating"></div>
                        <p>Kober Vopsele colorate acrilice pentru interior</p>
                        <p>Price</p>
                        <div class="add-basket">
                          <button type="button" name="" class="add-basket-bttn">Adauga in cos</button>
                          <i class="fas fa-shopping-cart"></i>
                        </div>
                      </figcaption>
                    </figure>
                </a></li>
                <li><a href="#">
                      <figure>
                        <img src="./images/gallery/kober-baza-de-nuantare-ZERTIFIKAT.jpg" alt="">
                        <figcaption>
                          <div class="star-rating"></div>
                          <p>Kober Zertifikat – Vopsele superlavabile colorate acrilice pentru exterior</p>
                          <p>Price</p>
                          <div class="add-basket">
                            <button type="button" name="" class="add-basket-bttn">Adauga in cos</button>
                            <i class="fas fa-shopping-cart"></i>
                          </div>
                        </figcaption>
                      </figure>
              </a></li>
              <li><a href="#">
                    <figure>
                      <img src="./images/gallery/kober-pigmenti-superconcentrati.jpg" alt="">
                      <figcaption>
                        <div class="star-rating"></div>
                        <p>Kober Pigmenti superconcentrati</p>
                        <p>Price</p>
                        <div class="add-basket">
                          <button type="button" name="" class="add-basket-bttn">Adauga in cos</button>
                          <i class="fas fa-shopping-cart"></i>
                        </div>
                      </figcaption>
                    </figure>
            </a></li>
            <li><a href="#">
                  <figure>
                    <img src="./images/gallery/kober-lac-monocomponent.jpg" alt="">
                    <figcaption>
                      <div class="star-rating"></div>
                      <p>Kober Lac parchet monocomponent cerat</p>
                      <p>Price</p>
                      <div class="add-basket">
                        <button type="button" name="" class="add-basket-bttn">Adauga in cos</button>
                        <i class="fas fa-shopping-cart"></i>
                      </div>
                    </figcaption>
                  </figure>
          </a></li>
          <li><a href="#">
                <figure>
                  <img src="./images/gallery/kober-impregnant-ignifug.jpg" alt="">
                  <figcaption>
                    <div class="star-rating"></div>
                    <p>Kober Impregnant ignifug pe bază de apă</p>
                    <p>Price</p>
                    <div class="add-basket">
                      <button type="button" name="" class="add-basket-bttn">Adauga in cos</button>
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                  </figcaption>
                </figure>
        </a></li>
        <li><a href="#">
              <figure>
                <img src="./images/gallery/bosch-polizor-unghiular.jpg" alt="">
                <figcaption>
                  <div class="star-rating"></div>
                  <p>Polizor unghiular Bosch PWS 700-115, 701 W</p>
                  <p>Price</p>
                  <div class="add-basket">
                    <button type="button" name="" class="add-basket-bttn">Adauga in cos</button>
                    <i class="fas fa-shopping-cart"></i>
                  </div>
                </figcaption>
              </figure>
      </a></li>
      <li><a href="#">
            <figure>
              <img src="./images/gallery/bosch-masina-gaurit.jpg" alt="">
              <figcaption>
                <div class="star-rating"></div>
                <p>Masina de gaurit / insurubat Bosch EasyDrill 1200, cu 2 acumulatori, 12 V, 1.5 Ah</p>
                <p>Price</p>
                <div class="add-basket">
                  <button type="button" name="" class="add-basket-bttn">Adauga in cos</button>
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </figcaption>
            </figure>
      </a></li>
      <li><a href="#">
            <figure>
              <img src="./images/gallery/bosch-disc-metale.jpg" alt="">
              <figcaption>
                <div class="star-rating"></div>
                <p>Disc debitare metale, Bosch Expert for Metal, 125 x 22.23 x 2.5 mm</p>
                <p>Price</p>
                <div class="add-basket">
                  <button type="button" name="" class="add-basket-bttn">Adauga in cos</button>
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </figcaption>
            </figure>
      </a></li>
      <li><a href="#">
            <figure>
              <img src="./images/gallery/bosch-disc-debitare.jpg" alt="">
              <figcaption>
                <div class="star-rating"></div>
                <p>Disc debitare, Bosch Rapido Multi Construction, 115 x 22.23 x 1 mm</p>
                <p>Price</p>
                <div class="add-basket">
                  <button type="button" name="" class="add-basket-bttn">Adauga in cos</button>
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </figcaption>
            </figure>
      </a></li>
      <li><a href="#">
            <figure>
              <img src="./images/gallery/bosch-fierastrau-electric-vertical.jpg" alt="">
              <figcaption>
                <div class="star-rating"></div>
                <p>Fierastrau electric vertical, Bosch Professional GST 8000 E, 710 W, 060158H000</p>
                <p>Price</p>
                <div class="add-basket">
                  <button type="button" name="" class="add-basket-bttn">Adauga in cos</button>
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </figcaption>
            </figure>
      </a></li>
      <li><a href="#">
            <figure>
              <img src="./images/gallery/hikoki-masina-gaurit.jpg" alt="">
              <figcaption>
                <div class="star-rating"></div>
                <p>Masina de gaurit / insurubat, Hikoki DS18DBSL, cu 2 acumulatori, 18 V, 5 Ah</p>
                <p>Price</p>
                <div class="add-basket">
                  <button type="button" name="" class="add-basket-bttn">Adauga in cos</button>
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </figcaption>
            </figure>
      </a></li>
      <li><a href="#">
            <figure>
              <img src="./images/gallery/hikoki-polizor-unghiular.jpg" alt="">
              <figcaption>
                <div class="star-rating"></div>
                <p>Polizor unghiular, Hikoki G12SN2, 900 W</p>
                <p>Price</p>
                <div class="add-basket">
                  <button type="button" name="" class="add-basket-bttn">Adauga in cos</button>
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </figcaption>
            </figure>
      </a></li>
      <li><a href="#">
            <figure>
              <img src="./images/gallery/hikoki-burghiu-782436.jpg" alt="">
              <figcaption>
                <div class="star-rating"></div>
                <p>Burghiu beton SDS Plus, Hikoki 782436, 8 x 310 x 250 mm</p>
                <p>Price</p>
                <div class="add-basket">
                  <button type="button" name="" class="add-basket-bttn">Adauga in cos</button>
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </figcaption>
            </figure>
      </a></li>
      <li><a href="#">
            <figure>
              <img src="./images/gallery/hikoki-burghiu-782460.jpg" alt="">
              <figcaption>
                <div class="star-rating"></div>
                <p>Burghiu beton SDS Plus, Hikoki 782460, 12 x 260 x 200 mm</p>
                <p>Price</p>
                <div class="add-basket">
                  <button type="button" name="" class="add-basket-bttn">Adauga in cos</button>
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </figcaption>
            </figure>
      </a></li>
        </ul>
    </main>
    <%-  include('../fragmente/footer')  %>
  </body>
</html>
