<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/register-styles.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <title>Neoplan Consult Design - Creeare cont client</title>
  </head>
  <body>
    <main>
      <form class="register-form" action="index.html" method="post">
        <h1>Cont nou</h1>
        <div class="textb">
          <input type="text" name="fname" value="" required>
          <span data-placeholder = "Nume"></span>
        </div>
        <div class="textb">
          <input type="text" name="lname" value="" required>
          <span data-placeholder = "Prenume"></span>
        </div>
        <div class="radio-group">
          <label class="radio">
            <input type="radio" name="gender" value="">
            Domnul
            <span></span>
          </label>
          <label class="radio">
            <input type="radio" name="gender" value="female">
            Doamna
            <span></span>
          </label>

      </div>
        <div class="textb">
          <input type="email" name="email" value="" required>
          <span data-placeholder = "Adresa de email"></span>
        </div>
        <div class="textb">
          <input type="password" name="password" value="" required>
          <span data-placeholder = "Parola"></span>
        </div>
        <input type="submit" name="submit" value="Inregistreaza-te" class="bttn">
      </form>
    </main>
  </body>
</html>
